li
{
    list-style-type: none;
}

ul.node-tree
{
    padding-left: 5px;
}

ul.node-tree li
{
    border-left: 1px solid gray;
    padding-left: 20px;
}


/* This combination enables a border that extends to the correct location
   and looks nice */
ul.node-tree li.last-item
{
    border-left-color: transparent;
}
ul.node-tree li.dummy-item
{
    height: 0.75em;
    margin-bottom: -0.75em;
}
